# File pattern
token.*
infos.*
.history/.json
.env
creds.json

# Folder pattern
node_modules/
**/data/*.json
**/Archive/*.json
**/scrapper/*.json
**/__pycache__/
*.pyc

/bot_essentials/scrapper/__pycache__/**.pyc


bot_essentials/compagnon_scripts/lm_data/*.json

# Execptions

!token.js
!infos.js