# File pattern
token.*
infos.*
.env
creds.json

# Folder pattern
node_modules/
**/data/*.json
**/Archive/*.json
**/__pycache__/
**/lm_data/*.json

# Execptions

!token.js
!infos.js
!misc/[ARCHIVES]/scrapper/data